<div id='headindex'>Welcome to Dates 4 Nerds</div>
<%= image_tag "nerd-couple.jpg" %>
<div id='rindex-div'>
	<div id='textindex'>Find Nerd like you today</div>
</div>
<div id='lindex-div'>
	<div id='textindex'>Start meeting Geeks now!</div>
</div>
<%= image_tag "nerd-date.jpg" %>